*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: $font-size;
  font-family: $font-family;
  background: #c9ccd3;
  background-image: linear-gradient(
    to right bottom,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );

  backdrop-filter: blur(1rem);
  padding: 6rem;

  @media screen and (max-width: 1024px) {
    font-size: $font-size-tab;
    padding: 4rem;
  }

  @media screen and (max-width: 768px) {
    font-size: $font-size-mobile;
  }
}

body {
  min-height: 90vh;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(165, 165, 165, 0.37);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 20px;
  padding: 4rem;

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    display: none;
    position: absolute;
    height: 20rem;
    width: 20rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    z-index: 1;
  }

  .circle1 {
    top: 15%;
    left: -5%;
    background: rgb(83, 230, 222);
  }

  .circle2 {
    display: none;
    top: 30%;
    left: 40%;
    background: rgb(152, 83, 230);
  }

  .circle3 {
    bottom: 0%;
    left: -2%;
    background: rgba(152, 83, 230, 0.781);
  }

  .circle4 {
    display: none;
  }
}
