*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  padding: 2rem;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0 8px 32px 0 rgba(165, 165, 165, 0.37);
          box-shadow: 0 8px 32px 0 rgba(165, 165, 165, 0.37);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 20px;
}

body .circle1,
body .circle2,
body .circle3,
body .circle4 {
  display: none;
  position: absolute;
  height: 20rem;
  width: 20rem;
  background: white;
  border-radius: 50%;
  z-index: 1;
}

body .circle1 {
  top: 15%;
  left: -5%;
  background: #53e6de;
}

body .circle2 {
  display: none;
  top: 30%;
  left: 40%;
  background: #9853e6;
}

body .circle3 {
  bottom: 0%;
  left: -2%;
  background: rgba(152, 83, 230, 0.781);
}

body .circle4 {
  display: none;
}

header {
  position: relative;
  border-radius: 20px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 0rem 3rem;
  }
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
}

@media screen and (max-width: 1024px) {
  .navigation__link {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .navigation__link {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 88vh;
    background: rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: 0 8px 32px 0 rgba(165, 165, 165, 0.37);
            box-shadow: 0 8px 32px 0 rgba(165, 165, 165, 0.37);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-clip-path: circle(50px at 90% -10%);
            clip-path: circle(50px at 90% -10%);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1;
  }
}

.navigation__item {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .navigation__item {
    opacity: 0;
  }
}

.navigation__item a {
  color: #4e4e4e;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 600;
}

.navigation .burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation .burger {
    display: block;
    cursor: pointer;
  }
}

.navigation .burger div {
  width: 2.5rem;
  height: 0.3rem;
  background: #4facfe;
  margin: 0.5rem;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation .burger .line1 {
  width: 1.1rem;
}

.navigation .burger .line2 {
  width: 1.9rem;
}

@media screen and (max-width: 768px) {
  .nav-active {
    z-index: 1;
    -webkit-clip-path: circle(1000px at 75% -10%);
            clip-path: circle(1000px at 75% -10%);
  }
}

.line-width {
  width: 2.5rem !important;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

main {
  width: 100%;
  min-height: 85vh;
  border: 1px solid black;
  padding: 3rem;
}

.hero {
  width: 100%;
  height: 75vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  border: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .hero {
    row-gap: 2rem;
  }
}

.hero__title {
  padding-left: 8rem;
  padding-top: 8rem;
  border: 1px solid black;
}

@media screen and (max-width: 1024px) {
  .hero__title {
    padding-left: 6rem;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    padding-left: 6rem;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .hero__title {
    padding-left: 2rem;
    padding-top: 3rem;
  }
}

.hero__title--line1 {
  color: #4269e9;
  font-size: 6rem;
  margin-bottom: 1rem;
}

.hero__title--name {
  font-size: 6rem;
  color: #4269e9;
  margin-bottom: 1rem;
}

.hero__title--designation {
  font-size: 2.5rem;
  color: #3751a7;
  margin-bottom: 4rem;
}

.btn {
  padding: 1.2rem 2.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#4269e9), to(#3751a7));
  background: linear-gradient(to right, #4269e9 0%, #3751a7 100%);
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
}

.btn__cta {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(55, 81, 167, 0.37);
          box-shadow: 0 10px 20px 0 rgba(55, 81, 167, 0.37);
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__cta:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.btn__cta:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */